page-login {
  .background-img{
    background-image: url('/assets/imgs/fondo2login.jpg');
    background-size: cover;
    background-repeat: repeat;
  }
  .logo{
    margin-top: 15%;
    text-align: center;
  }
  .white-text{
    color: white !important;
  }
  .background-color-div{
    background: rgba(32, 52, 95, 0.6);
    padding-bottom: 0 !important;
  }
  .background-toolbar{
    padding: 0 !important;
    background: rgba(32, 52, 95, 0.5);
  }
  .submit-button{
    font-size: 17px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    background-color:#20345F;
  }
  .transparent{
    background-color: transparent;
  }
  .icon-move{
    transform: translateY(14px);
  }
  .item-md.item-block .item-inner {
    border: 0px !important;
  }
}
