@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

page-list-services {
  font-family: 'Montserrat' !important;
  .link-button{
    background-color: #f49a41;
    color: white;
    border-radius: 0px !important;
  }
  .font-montse{
    font-family: 'Montserrat' !important;
  }

  .closed{
    background-color: lightgray;
  }
  .service-item{
    height: 20vh !important;
    background-size: cover;
  }
  .background-toolbar{
    background: rgba(32, 52, 95, 0.5);
  }
  .color-blue{
    color: #20345F
  }
  .service-name{
    font-size: 25px !important;
    color: white !important;
    font-weight: bold;
  }
  .service-description{
    font-size: 12px !important;
    color: whitesmoke;
  }
  .div-title-subtitle{
    padding: 10px !important;
    width: fit-content;
    margin: 0 auto;
    background: rgba(32, 52, 95, 0.6);
  }

}
